<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-around">
    <a class="navbar-brand" href="/">
      <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
        alt="">
      AutoSub
    </a>
    {{#if user}}
    <a href="/jobs" class="navbar-brand">Trabajos<a>
    <a href="/logout" class="navbar-brand">Cerrar Sesion<a>
    {{else}}
    <a href="/login" class="navbar-brand">Iniciar Sesion</a>
    {{/if}}
  </div>
</nav>