{{>navBar}}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Sube un video</div>
        </div>
        <div class="card-body">
            {{>addFile}}
        </div>
    </div>
</div>