{{>navBar}}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Sube un video</div>
        </div>
        <div class="card-body">
            {{#if user}}
            {{>addFile}}
            {{else}}
            <h2>Inicie sesion para subir un archivo</h2>
            {{/if}}
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Trabajos previos</div>
        </div>
        <div class="card-body" id='jobContainer'>
        </div>
    </div>
</div>

<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    (async function load() {
        const response = await fetch('/api/jobs')
        let jobs = await response.json()
        const $jobContainer = document.querySelector('#jobContainer');
        renderJobList(jobs, $jobContainer)
        const newJobs = await verificador(jobs)
        while ($jobContainer.hasChildNodes()) {
            $jobContainer.removeChild($jobContainer.firstChild);
        }
        console.log('Pintando nuevos jobs')
        console.log(jobs)
        renderJobList(newJobs, $jobContainer)
    })()


    async function verificador(jobs) {
        console.log(jobs)
        jobs = jobs.filter(job => job.status == 'IN_PROGRESS')
        console.log(jobs)
        while (jobs.length) {
            jobsId = jobs.map(job => job._id)
            console.log(jobs.length)
            await fetch('/api/jobs', {
                method: 'POST', // or 'PUT'
                body: JSON.stringify({ '_id': jobsId }), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(async res => {
                jobs = await res.json()
                console.log('Success:', jobs)
            })

            jobs = jobs.filter(job => job.status == 'IN_PROGRESS')
            if(!jobs.length) break
            await sleep(4000)
        }
        const response = await fetch('/api/jobs')
        jobs = await response.json()
        return jobs
    }

    function template(job) {
        return (`<div class="card mb-3" id="${job._id}">
                <div class="card-header">
                    <div class="card-title">${job.name}</div>
                </div>
                <div class="card-body">
                    <h4>Codigo del trabajo: ${job.jobName}</h4>
                </div>
                <div class="card-footer">
                    <div class="starRating">
                        <span>Estado del Trabajo: ${job.status}</span>
                        <a class=" text-white ml-4 btn btn-${(job.isCompleted) ? 'success' : 'secondary'}" ${(job.isCompleted) ? `href="https://${job.Bucket}.s3.amazonaws.com/${job.Key}"` : `disabled`}>Descargar</a>
                        ${(job.isCompleted) ? '' : '<div class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>'}    
                        <div>
                            <span>Calificación</span>
                            ${'<span class="fa fa-star checked"></span>'.repeat(job.stars)}
                            ${'<span class="fa fa-star"></span>'.repeat(5 - job.stars)}
                        </div>
                    </div>
                </div>
            </div>`)
    }

    function createTemplate(HTMLString) {
        const html = document.implementation.createHTMLDocument();
        html.body.innerHTML = HTMLString;
        return html.body.children[0];
    }

    function renderJobList(list, $container) {
        list.forEach((Job) => {
            const HTMLString = template(Job);
            const JobElement = createTemplate(HTMLString);
            $container.append(JobElement);
        })
    }

</script>