{{>navBar}}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Sube un video</div>
        </div>
        <div class="card-body">
            {{#if user}}
            {{>addFile}}
            {{else}}
            <h2>Inicie sesion para subir un archivo</h2>
            {{/if}}
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Trabajos previos</div>
        </div>
        <div class="card-body" id='jobContainer'>
        </div>
    </div>
</div>

<script>
    (async function load() {
        const response = await fetch('/api/jobs')
        let jobs = await response.json()
        console.log(jobs)
        const $jobContainer = document.querySelector('#jobContainer');
        renderJobList(jobs, $jobContainer)
        //while (jobs.length) {
          //  jobs = jobs.filter(job => job.status == 'IN_PROGRESS')
        //}
    })()

    function template(job) {

        return (
            `
            <div class="card mb-3" id="${job._id}">
                <div class="card-header">
                    <div class="card-title">${job.name}</div>
                </div>
                <div class="card-body">
                    <h4>Codigo del trabajo: ${job.jobName}</h4>
                </div>
                <div class="card-footer">
                    <span>Estado del Trabajo: ${job.status}</span>
                    <a class=" text-white ml-4 btn btn-${(job.isCompleted) ? 'success' : 'secondary'}" ${(job.isCompleted) ? `href="https://${job.Bucket}.s3.amazonaws.com/${job.Key}"` : `disabled`}>Descargar</a>
                </div>
            </div>
      `
        )
    }

    function createTemplate(HTMLString) {
        const html = document.implementation.createHTMLDocument();
        html.body.innerHTML = HTMLString;
        return html.body.children[0];
    }

    function renderJobList(list, $container) {
        // actionList.data.Jobs
        //$container.children[0].remove();
        list.forEach((Job) => {
            console.log(Job)
            const HTMLString = template(Job);
            const JobElement = createTemplate(HTMLString);
            $container.append(JobElement);
        })
    }

    function verificador(jobs) {
        var jobs = jobs
        console.log('entrando al interval')
        setInterval(async () => {
            console.log(jobs)
            if (jobs.length) {
            } else {
                console.log('Todas completas')
                clearInterval()
            }
        }, 4000)
    }
     
</script>